* {
    margin: 0;
    padding: 0;
}

/*Parte do cabeçalho*/
.cabecalho-imagem {
    width: 20%;/*Largura da Imagem*/
}

.cabecalho {
    background-color: #383d58;
    display: flex;/*Coloca os elementos ao lado*/
    justify-content: space-around;/*Espaçamentos entre os elementos e nos lados externos*/
    align-items: center;/*Colocando os itens ao centro verticalmente*/
    padding: 24px 0;
}

.cabecalho-lista-item {
    display: inline-block;/*Colocando em linha os elementos*/
    margin: 0 16px;/*0 superior e 16px direita e esquerda*/
    color: #ffffff;/*Cor do fonte texto*/
}

a {
    color: white;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: burlywood;
}

/*Seção Escola*/
.escola-imagem {
    width: 25%;
}

.escola {
    background-image: linear-gradient(#383d58, #4ebfe9);
    color: white;/*Cor do Texto*/
    display: flex;/*Coloca os elementos lado a lado*/
    justify-content: center;/*Centralizando os elementos dentro. escola indo para o centro da página*/
    align-items: center;/*Alinha ao centro da caixa superior e inferior*/
    padding: 24px 0;/*Superior e Inferior direita e esquerda*/
}

.escola-div-conteudo {
    width: 35%;
}

.escola-titulo {
padding: 24px 0;/*Superior e Inferior direita e esquerda*/
}

/*Seção estudante imagem*/

.estudante-imagem {
    width: 150px;
    height: 245px;
}

.estudante-icone {
    width:24px ;
}

.estudante-titulo {
    text-align: center;
    padding: 50px 0;/*Superior inferior direita e esquerda*/
}

/*Alinhando as divs*/
.estudante-div {
    text-align: center;
    margin-top: 20px;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;/*Cria 5 colunas com espaços entre elas*/
}

.estudante-icone {
    padding: 8px;
}
/*Finalizado os Estudades*/

/*Inciando Rodapé*/
.rodape {
    background-color: black;
    text-align: center;
}

.rodape-imagem {
    height: 60px;
    padding: 12px;/*Superior e inferior direita e esquerda*/
}